<section>
<div class="container-fluide">
  
 
    

    <div class="row ">
     <div class="col-sm-2 text-anim1"></div>
     <div class="col-sm-3 img-anim "><img [src]="animImg"  [alt]=""></div>
     <div class="col-sm-2  text-anim2"></div>
    </div><br><br>
 
   <div class="row m-6 ">
    <div class="col-sm-2"><img [src] ="img1" class="img1"  [alt]=""></div>
    
    
     <div class="col-sm-2 offset-sm-1">
       <div class="cont"><img [src] ="img2"class="img2"  [alt]=""></div>
       
    </div>
    <!--modal-->
    
    
    <div class="col-sm-2 offset-sm-1"><img [src]="img3" class="img3"  [alt]=""></div>
    <div class="col-sm-2 offset-sm-1"><img [src]="img4" class="img4"  [alt]=""></div>
   </div><br>
 
   <div class="row m-6">
     <div class="col-sm-2"><img [src] ="img5" class="img5" [alt]=""></div>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img6"  [alt]=""></div><br>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img7"class="img7"  [alt]=""></div>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img8"  [alt]=""></div>
   </div><br>
 
   <div class="row m-6">
     <div class="col-sm-2"><img [src] ="img9"class="img9"  [alt]=""></div>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img10"  [alt]=""></div>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img11"class="img11"  [alt]=""></div>
     <div class="col-sm-2 offset-sm-1"><img [src] ="img12"  [alt]=""></div>
   </div>
  
 
 

</div>
</section>
