

  
<!-- <ul class="services">
    <li *ngFor="let serviceUpdate of services">--> 
      
        <!--
        <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        
        <img [src]="bus" alt="">
        <div class="card-body">
          <h5 class="card-title">Dakar-Touba</h5>
          <p class="card-text"> un bus Confortable</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre de Placde: 60</li>
          <li class="list-group-item">Heure de démarrage: 20h : 15mn</li>
          <li class="list-group-item">Prix du billet: 2500 FCFA</li>
        </ul>
        
      </div><br>
      
      <div class="d-grid">
        <button class="btn btn-block btn btn-success">Reserver</button>
      </div>
    </div>
    -->
    <div class="container">

  
<div class="row">

    <div class="col-sm-3">
      <div class="card" style="width: 18rem;" *ngFor="let postService of services">
        <img *ngIf="postService.image" [src]="postService.image" alt="">
        
        <div class="card-body">
          <h3 class="card-header text-center">  {{ postService.Name_Service }} </h3>
          
        </div>
        <ul class="list-group list-group-flush">
          <h5 class="text-center">Nombre de places</h5>
         <li class="list-group-item text-center">{{ postService.nbre_place}} </li>
         <h5 class="text-center">Heure de départ</h5>
          <li class="list-group-item item text-center"> {{ postService.heure_depart }} </li>
          <h5 class="text-center">Prix</h5>
          <li class="list-group-item item text-center">  {{ postService.Prix_du_service}} FCFA </li>
          <h5 class="text-center">Description</h5>
          <p class="card-text item text-center">  {{ postService.Description_Service }} </p>
          <br><br>
          <div class="d-grid">
            <button class="btn btn-block btn btn-success" [routerLink]="['/reservation', postService.idService]">Reserver</button>
            
          </div>
          <router-outlet></router-outlet>

        </ul>
        
      </div><br>
     
    </div>

    

  </div>

</div>