<table class="table">
    <thead class="table-dark">
      <th>_id</th>
      <th>name</th>
      <th>email</th>
      <th>password</th>
      <th>username</th>
    </thead>
    <tbody>
        <tr *ngFor="let Config of users">
          
            <td>{{Config.name}}</td>
            <td> {{Config.email}} </td>
            <td> {{Config.password}} </td>
            <td> {{Config.username}} </td>
            
            <button class="btn btn-sm btn-primary" routerLink="">Edit</button>
            <button class="btn btn-sm btn-danger" >Delete</button>
        </tr>
      ...
    </tbody>
  </table>