form {
    margin-top: 200px;
}
.form-control {
    border: none;
    outline: none;
    border-bottom: 1px solid green;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
}