.form-control {
    border: none;
    outline: none;
    border-bottom: 1px solid green;
}
.form-select  {
  border: none;
  outline: none;
  border-bottom: 1px solid green;
}
.form-check-input {
  margin-left: 200px;
  margin-top: 65px;

}
