<div class="container"> 

  <!-- card 1 -->
<div class="row">
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->


    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img1" alt="Le baobab nianing" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img2" alt="Le baobab nianing" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img3" alt="Le baobab nianing" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img4" alt="Le baobab nianing" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img5" alt="Le baobab nianing" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img6" alt="Le baobab nianing" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title"> Le baobab nianing </h5>
      <p class="card-text"> {{ p1 }}</p>
      
          
          
            <a target="_blank"  href="https://www.booking.com/hotel/sn/le-baobab-de-nianing-nianing1.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3"
            class="mt1 btn btn-success"> Plus de détatails</a>
          

     
    </div>
  </div>
</div>

  <!-- card 2 -->
<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->


    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img7" alt="Can Teranga" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img8" alt="Can Teranga" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img9" alt="Can Teranga" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img10" alt="Can Teranga" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img11" alt="Can Teranga" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img12" alt="Can Teranga" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title"> LES JARDINS DU FLAMBOYANT</h5>
      <p class="card-text"> {{ p2 }}</p>

      <a  target="_blank" href="https://www.booking.com/hotel/sn/les-jardins-du-flamboyant.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3"
        class="mt0 btn btn-success">Plus de détatails</a>
    </div>
  </div>
</div>
  <!-- Card 3-->
  <div class="col-sm-3">

  <div class="card" style="width: 18rem;">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img13" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img14" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img15" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img16" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img17" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img18" alt="Radisson Blue" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Radisson Blu Hotel</h5>
      <p class="card-text">{{ p3 }}</p>

      <a  target="_blank" href="https://www.booking.com/hotel/sn/radisson-blu-dakar.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3"
      class= "  btn btn-success" > Plus de détatails</a>
       
    </div>
  </div>
</div>
  <!-- card 4 -->
  <div class="col-sm-3">

  <div class="card" style="width: 18rem;">

    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img19" alt="Hôtel La Résidence" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img20" alt="Hôtel La Résidence" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img21" alt="Hôtel La Résidence" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img22" alt="Hôtel La Résidence" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img23" alt="Hôtel La Résidence" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img24" alt="*Hôtel La Résidence" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hôtel La Résidence</h5>
      <p class="card-text">{{ p4 }}</p>
      
      <a  target="_blank" href="https://www.booking.com/hotel/sn/la-residence.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3&dest_id=-2273405&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1654963664&srpvid=aaaa716764510347&type=total&ucfs=1&activeTab=main"
      class=" mt2 btn btn-success">Plus de détatails</a>
    </div>
  </div>
</div>
</div>
<!-- card 5 -->

<div class="row">
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">

    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img25" alt="Los Angeles" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img26" alt="Chicago" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img27" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img28" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img29" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img30" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Les Calaos du Saloum</h5>
      <p class="card-text"> {{ p5 }}</p>
      <a  target="_blank" href="https://www.booking.com/hotel/sn/les-calaos-du-saloum.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3&dest_id=-2274618&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1654965077&srpvid=287e742a500d031d&type=total&ucfs=1&activeTab=main"
        class=" mt3 btn btn-success">Plus de détatails</a>
    </div>
  </div>
</div>

  <!-- card 6 -->
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->


    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img31" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img32" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img33" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img34" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img35" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img36" alt="Les Calaos du Saloum" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hotel Lagon 2</h5>
      <p class="card-text">{{ p6 }}</p>
      <a target="_blank"  href="https://www.booking.com/hotel/sn/lagon-2.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3"
        class=" btn btn-success">Plus de détatails</a>
    </div>
  </div>
</div>
  <!-- Card 7 -->
<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->


    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img37" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img38" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img39" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img40" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img41" alt="Radisson Blue" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img42" alt="Radisson Blue" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Sama Nopalu Kaï</h5>
      <p class="card-text">{{ p7 }}</p>
      <a  target="_blank" href="https://www.booking.com/hotel/sn/sama-nopalu-kai.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3&dest_id=-2274637&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1654966265&srpvid=37c2767ccc9b0007&type=total&ucfs=1&activeTab=main"
        class="mt5 btn btn-success">Plus de détatails</a>
    </div>
  </div>
</div>

  <!-- car 8 -->

  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->


    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img [src]="img34" alt="Gîte du Lac" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img44" alt="Gîte du Lac" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img45" alt="Gîte du Lac" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img46" alt="Gîte du Lac" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img47" alt="Gîte du Lac" class="d-block w-100">
        </div>

        <div class="carousel-item">
          <img [src]="img48" alt="Gîte du Lac" class="d-block w-100">
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">Gîte du Lac</h5>
      <p class="card-text">{{ p8 }}</p>
      <a  target="_blank" href="https://www.booking.com/hotel/sn/gite-du-lac-niaga.fr.html?aid=356980&label=gog235jc-1DCAIo0AFCAnNuSA1YA2jQAYgBAZgBDbgBF8gBDNgBA-gBAfgBAogCAagCA7gCjdWSlQbAAgHSAiRkMWY2OTY4MC1iNzFhLTQyNTAtOTg4Yi03NWMzM2Q1NDQzOGPYAgTgAgE&sid=fc16b7f9c05812115a3662f4bc9258d3&dest_id=-2272539&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1654967065&srpvid=7c81780b82750491&type=total&ucfs=1&activeTab=main "
        class="mt6 btn btn-success ">Plus de détatails</a>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</div>