.card {
    margin-top: 50px;
}
.mt0 {
    margin-top: 30px;
}
.mt1 {
    margin-top: 48px;
}
.mt2 {
    margin-top: 24px;
}
.mt3 {
    margin-top: 23px;
}
.mt5 {
    margin-top: 0px;
}
.mt6 {
    margin-top: 13px;
}
a {
    margin-left: 45px;
}
.container {
    margin-top: 120px;
}