
    <div class="container">
        <table class="table table-striped">

            <thead>
              <tr>
                <th> {{ th1 }} </th>
                <th> {{ th2 }} </th>
                
              </tr>
            </thead>

            <tbody>

              <tr>
                  <td> {{ td1 }} </td>
                  <td> {{ td2 }} </td>
                  <td><button class="buttona float-end"><a href="tel:+221784451316"> {{ btn }} </a></button></td>

              </tr>

              <tr>
                <td> {{ td3 }} </td>
                <td> {{ td4 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221338321783">{{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td5 }} </td>
                <td> {{ td6 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221338553314"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td7 }} </td>
                <td> {{ td8 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221772040113"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td9 }} </td>
                <td> {{ td10 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221776547575"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td11 }} </td>
                <td> {{ td12 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221776459909"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td13 }} </td>
                <td> {{ td14 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221762529898"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td15 }} </td>
                <td> {{ td16 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221338540966"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td17 }} </td>
                <td> {{ td18 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221766385698"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td19 }} </td>
                <td> {{ td20 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221705102815"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td21 }} </td>
                <td> {{ td22 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221765688139"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td23 }} </td>
                <td> {{ td24 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221781022020"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td25 }} </td>
                <td> {{ td26 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221761363669"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td27 }} </td>
                <td> {{ td28 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221768487917"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td29 }} </td>
                <td> {{ td30 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221773704050"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td31 }} </td>
                <td> {{ td32 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221338570651"> {{ btn }}</a></button></td>
              </tr>

              

              <tr>
                <td> {{ td33 }} </td>
                <td> {{ td34 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221779712058"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td35 }} </td>
                <td> {{ td36 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221776401953"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td37 }} </td>
                <td> {{ td38 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221776356430"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td39 }} </td>
                <td> {{ td40 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221786200827"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td41 }} </td>
                <td> {{ td42 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221339571011"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td43 }} </td>
                <td> {{ td44 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221771811700"> {{ btn }}</a></button></td>
              </tr>

              <tr>
                <td> {{ td45 }} </td>
                <td> {{ td46 }} </td>
                <td><button class="buttona float-end"><a href="tel:+221764161475"> {{ btn }} </a></button></td>
              </tr>
            </tbody>
        </table>
    </div>
    